Repository Muhammed-Rahif/Islam, pull requests merged in 2023-04, with the labels that each got.

#42 add test cases for app settings
  .github/workflows/playwright.yml
  playwright.config.ts
  src/features/settings/components/GeneralSettings.tsx
  src/features/settings/components/QuranSettings.tsx
  src/tests/Quran.spec.ts
  src/tests/Settings/GeneralSettings.spec.ts
  src/tests/Settings/QuranSettings.spec.ts
  src/tests/ViewChapter.spec.ts
Labels: type: maintenance, type: chore

#47 the last surah al nas not visible after interaction in home screen
  src/features/list-chapters/components/ChaptersList.tsx
  src/tests/Quran.spec.ts
Labels: type: bug, type: maintenance

#49 refactor: improvements code structure
  README.md
  resources/screenshots/pixel4-justblack-landscape-dark.png
  resources/screenshots/pixel4-justblack-landscape-light.png
  resources/screenshots/pixel4-justblack-portrait-dark.png
  resources/screenshots/pixel4-justblack-portrait-light.png
  src/features/list-chapters/api/useAllJuzs.ts
  src/features/list-chapters/api/useChapersList.ts
  src/features/list-chapters/components/ChapterItem.tsx
  src/features/list-chapters/components/ChaptersList.tsx
  src/features/list-chapters/components/SortedByJuz.tsx
  src/features/settings/components/QuranSettings.tsx
  src/features/view-chapter/components/BismiVerse.tsx
  src/features/view-chapter/components/InlinedVerses.tsx
  src/features/view-chapter/components/ReadingContent.tsx
  src/features/view-chapter/components/TranslationContent.tsx
  src/features/view-chapter/components/TranslationVerseItem.tsx
  src/features/view-chapter/index.ts
  src/screens/ViewChapter.tsx
  src/tests/Settings/QuranSettings.spec.ts
  src/theme/styles.css
  src/utils/string.ts
Labels: type: documentation, type: maintenance, type: design

#50 fix: remove param 'chapterName'; view quran type(reading or tr…
  src/App.tsx
  src/features/list-chapters/components/ChapterItem.tsx
  src/features/list-chapters/components/ChaptersList.tsx
  src/features/view-chapter/components/ReadingContent.tsx
  src/features/view-chapter/components/TranslationContent.tsx
  src/screens/ViewChapter.tsx
Labels: type: bug, type: enhancement

#58 change next chapter, prev chapter and to top btns to fab
  .github/dependabot.yml
  package.json
  playwright.config.ts
  src/features/view-chapter/components/BismiVerse.tsx
  src/features/view-chapter/components/InlinedVerses.tsx
  src/features/view-chapter/components/ReadingContent.tsx
  src/features/view-chapter/components/TranslationContent.tsx
  src/features/view-chapter/components/TranslationVerseItem.tsx
  src/screens/ViewChapter.tsx
  src/tests/Settings/QuranSettings.spec.ts
  src/tests/ViewChapter.spec.ts
  src/utils/string.ts
  yarn.lock
Labels: type: enhancement, type: maintenance, type: dependencies

#75 release: remove param 'chapterName'; add fab
  .gitignore
  CHANGELOG.md
  android/app/build.gradle
  ios/App/App.xcodeproj/project.pbxproj
  package.json
  playwright.config.ts
  src/App.tsx
  src/features/list-chapters/components/ChapterItem.tsx
  src/features/list-chapters/components/ChaptersList.tsx
  src/features/view-chapter/components/BismiVerse.tsx
  src/features/view-chapter/components/InlinedVerses.tsx
  src/features/view-chapter/components/ReadingContent.tsx
  src/features/view-chapter/components/TranslationContent.tsx
  src/features/view-chapter/components/TranslationVerseItem.tsx
  src/screens/ViewChapter.tsx
  src/tests/Settings/QuranSettings.spec.ts
  src/tests/ViewChapter.spec.ts
  src/utils/string.ts
  yarn.lock
Labels: type: documentation, type: maintenance, type: dependencies

#77 fix(capacitor): splash screen should be removed after loading the con…
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  android/gradlew
  capacitor.config.ts
  git-conventional-commits.yaml
  ios/App/Podfile
  package.json
  src/App.tsx
  yarn.lock
Labels: type: bug

#80 test(quran): add test cases for view quran scroll to top fab
  src/tests/ViewChapter.spec.ts
Labels: type: maintenance

#86 fix(api): display network error issues
  src/components/DisplayError.tsx
  src/features/list-chapters/api/useAllJuzs.ts
  src/features/list-chapters/api/useChapersList.ts
  src/features/list-chapters/components/ChaptersList.tsx
  src/features/list-chapters/components/SortedByJuz.tsx
  src/features/settings/api/useTranslations.ts
  src/features/view-chapter/api/useChapter.ts
  src/features/view-chapter/api/useChapterVerses.ts
  src/features/view-chapter/api/useVersesUthmani.ts
  src/features/view-chapter/components/ReadingContent.tsx
  src/features/view-chapter/components/TranslationContent.tsx
  src/screens/ViewChapter.tsx
Labels: type: bug

#87 release: v1.3.1
  CHANGELOG.md
  android/app/build.gradle
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/capacitor.settings.gradle
  android/gradlew
  capacitor.config.ts
  git-conventional-commits.yaml
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/Podfile
  package.json
  src/App.tsx
  src/components/DisplayError.tsx
  src/features/list-chapters/api/useAllJuzs.ts
  src/features/list-chapters/api/useChapersList.ts
  src/features/list-chapters/components/ChaptersList.tsx
  src/features/list-chapters/components/SortedByJuz.tsx
  src/features/settings/api/useTranslations.ts
  src/features/view-chapter/api/useChapter.ts
  src/features/view-chapter/api/useChapterVerses.ts
  src/features/view-chapter/api/useVersesUthmani.ts
  src/features/view-chapter/components/ReadingContent.tsx
  src/features/view-chapter/components/TranslationContent.tsx
  src/screens/ViewChapter.tsx
  src/tests/ViewChapter.spec.ts
  yarn.lock
Labels: type: documentation, type: maintenance, type: dependencies

#88 feat: the prayer times screen
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml.orig
  android/capacitor.settings.gradle
  git-conventional-commits.yaml
  ios/App/Podfile
  package.json
  src/App.tsx
  src/components/AppTypeahead.tsx
  src/components/DisplayError.tsx
  src/components/NextPrayerCard.tsx
  src/features/list-chapters/api/useAllJuzs.ts
  src/features/list-chapters/api/useChapersList.ts
  src/features/list-chapters/components/ChaptersList.tsx
  src/features/list-prayer-times/api/usePrayerTimes.ts
  src/features/list-prayer-times/components/ListPrayerTimes.tsx
  src/features/list-prayer-times/index.ts
  src/features/list-prayer-times/types/PrayerTimesResponse.ts
  src/features/list-prayer-times/utils/prayerTimes.ts
  src/features/settings/api/useTranslations.ts
  src/features/view-chapter/api/useChapter.ts
  src/features/view-chapter/api/useChapterVerses.ts
  src/features/view-chapter/api/useVersesUthmani.ts
  src/features/view-chapter/components/TranslationVerseItem.tsx
  src/screens/PrayerTimes.tsx
  src/screens/Quran.tsx
  src/screens/Settings.tsx
  src/screens/ViewChapter.tsx
  src/theme/styles.css
  src/utils/geoLocation.ts
  src/utils/time.ts
  yarn.lock
Labels: type: enhancement, type: dependencies

#97 feat(prayer-times): add lorem ipsum of the prayer times screen
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/res/drawable/icon_black.png
  android/capacitor.settings.gradle
  capacitor.config.ts
  ios/App/Podfile
  package.json
  src/App.tsx
  src/components/DisplayError.tsx
  src/components/NextPrayerCard.tsx
  src/config/notifications.ts
  src/features/list-prayer-times/api/usePrayerTimes.ts
  src/features/list-prayer-times/components/ListPrayerTimes.tsx
  src/features/list-prayer-times/utils/prayerTimes.ts
  src/features/view-chapter/components/BismiVerse.tsx
  src/features/view-chapter/components/ReadingContent.tsx
  src/features/view-chapter/components/TranslationContent.tsx
  src/screens/PrayerTimes.tsx
  src/screens/Quran.tsx
  src/screens/ViewChapter.tsx
  src/theme/styles.css
  yarn.lock
Labels: type: enhancement, type: dependencies

#109 chore(deps): update deps
  package.json
  yarn.lock
Labels: type: dependencies

#110 prayer times settings
  git-conventional-commits.yaml
  src/components/NextPrayerCard.tsx
  src/features/list-chapters/index.ts
  src/features/list-prayer-times/api/usePrayerTimes.ts
  src/features/list-prayer-times/types/PrayerTimesResponse.ts
  src/features/list-prayer-times/utils/prayerTimes.ts
  src/features/settings/api/usePrayerTimeMethods.ts
  src/features/settings/components/PrayerNotificationSettings.tsx
  src/features/settings/components/QuranSettings.tsx
  src/features/settings/index.ts
  src/features/settings/types/PrayerMethodsResponse.ts
  src/screens/PrayerTimes.tsx
  src/screens/Settings.tsx
  src/stores/settings.ts
  src/theme/styles.css
  src/types/Int.d.ts
  src/types/Prayers.d.ts
Labels: type: enhancement

#113 add test cases for prayer times and its settings
  .github/FUNDING.yml
  playwright.config.ts
  src/App.tsx
  src/tests/App.spec.ts
  src/tests/PrayerTimes.spec.ts
  src/tests/Quran.spec.ts
  src/tests/Settings/General.spec.ts
  src/tests/Settings/PrayerTimes.spec.ts
  src/tests/Settings/Quran.spec.ts
  src/tests/ViewChapter.spec.ts
Labels: type: maintenance

#117 feat(about): add about screen with contributors list
  android/app/src/main/AndroidManifest.xml.orig
  git-conventional-commits.yaml
  src/App.tsx
  src/features/list-chapters/components/ChapterItem.tsx
  src/features/list-chapters/components/ListChapters.tsx
  src/features/list-chapters/index.ts
  src/features/list-contributors/api/useContributors.ts
  src/features/list-contributors/components/ListContributors.tsx
  src/features/list-contributors/index.ts
  src/features/list-contributors/stores/contributors.ts
  src/features/list-contributors/types/Contributor.ts
  src/screens/About.tsx
  src/screens/Quran.tsx
  src/screens/Settings.tsx
  src/screens/ViewChapter.tsx
  src/tests/About.spec.ts
  src/tests/Settings/General.spec.ts
Labels: type: enhancement, type: maintenance

#118 docs(readme): update readme
  README.md
  resources/screenshots/1.png
  resources/screenshots/2.png
  resources/screenshots/dark-mode.png
  resources/screenshots/light-mode.png
  resources/screenshots/pixel4-justblack-landscape-dark.png
  resources/screenshots/pixel4-justblack-landscape-light.png
  resources/screenshots/pixel4-justblack-portrait-dark.png
  resources/screenshots/pixel4-justblack-portrait-light.png
Labels: type: documentation, type: design

#121 release: v1.5.0
  CHANGELOG.md
  README.md
  android/app/build.gradle
  git-conventional-commits.yaml
  ios/App/App.xcodeproj/project.pbxproj
  package.json
  resources/screenshots/1.png
  resources/screenshots/2.png
  resources/screenshots/dark-mode.png
  resources/screenshots/light-mode.png
  resources/screenshots/pixel4-justblack-landscape-dark.png
  resources/screenshots/pixel4-justblack-landscape-light.png
  resources/screenshots/pixel4-justblack-portrait-dark.png
  resources/screenshots/pixel4-justblack-portrait-light.png
  src/App.tsx
  src/features/list-chapters/components/ChapterItem.tsx
  src/features/list-chapters/components/ListChapters.tsx
  src/features/list-chapters/index.ts
  src/features/list-contributors/api/useContributors.ts
  src/features/list-contributors/components/ListContributors.tsx
  src/features/list-contributors/index.ts
  src/features/list-contributors/stores/contributors.ts
  src/features/list-contributors/types/Contributor.ts
  src/features/list-stargazers/api/useStargazers.ts
  src/features/list-stargazers/components/ListStargazers.tsx
  src/features/list-stargazers/index.ts
  src/features/list-stargazers/types/Stargazers.ts
  src/screens/About.tsx
  src/screens/Quran.tsx
  src/screens/Settings.tsx
  src/screens/ViewChapter.tsx
  src/tests/About.spec.ts
  src/tests/Settings/General.spec.ts
  src/theme/styles.scss
  src/theme/variables.css
  src/theme/variables.scss
  yarn.lock
Labels: type: documentation, type: maintenance, type: design, type: dependencies
